extends layout 

block content
    .container 
        form(action="/panel/create", method="post").createRMA
            .deviceInfo
                div
                    label(for="producent") Producent:
                    if rma
                        if rma.producent == "" 
                            input#producent.bad(type="text", name="producent")
                        else
                            input#producent(type="text", name="producent", value=`${rma.producent}`)
                    else
                        input#producent(type="text", name="producent")
                div
                    label(for="model") Model:
                    if rma
                        if rma.model == ""
                            input#model.bad(type="text", name="model", value=`${rma.model}`)
                        else
                            input#model(type="text", name="model", value=`${rma.model}`)
                    else 
                        input#model(type="text", name="model")
                div
                    label(for="SN") SN:
                    if rma
                        if rma.sn == ""
                            input#SN.bad(type="text", name="SN", value=`${rma.sn}`)
                        else
                            input#SN(type="text", name="SN", value=`${rma.sn}`)
                    else 
                        input#SN(type="text", name="SN")
            .sprzedaz
                div
                    label(for="sprzedaz") Sprzedaż (rrrr-mm-dd):
                    if rma 
                        if rma.sprzedaz == ""
                            input#sprzedaz.bad(type="date", name="sprzedaz", value=`${rma.sprzedaz}`)
                        else
                            input#sprzedaz(type="date", name="sprzedaz", value=`${rma.sprzedaz}`)
                    else
                        input#sprzedaz(type="date", name="sprzedaz")
                div
                    label(for="fv") nr. faktury:
                    if rma 
                        if rma.fv == ""
                            input#fv.bad(type="text", name="fv", value=`${rma.fv}`)
                        else
                            input#fv(type="text", name="fv", value=`${rma.fv}`)
                    else 
                        input#fv(type="text", name="fv")
            .description 
                .types
                    .selectWrap 
                        label(for="type") Typ zlecenia: 
                        select#type(name="type")
                    .selectWrap
                        label(for="prio") Priorytet zlecenia: 
                        select#prio(name="prio") 
                div
                    label(for="opis") Opis zlecenia:
                    if rma 
                        if rma.opis == "" || rma.opis == " "
                            textarea#opis.bad(name="opis", cols="30", rows="10", value=`${rma.opis}`) 
                        else
                            textarea#opis(name="opis", cols="30", rows="10", value=`${rma.opis}`) 
                    else
                        textarea#opis(name="opis", cols="30", rows="10") 
            div.submitDiv
                input(type="submit", value="Utwórz")
                if err
                    p #{err}
            