extends panel 

block rmaView
    .rmaView
        h3 #{rma.rma}
        .tile
            p producent: 
            p #{rma.producent}
        .tile
            p model: 
            p #{rma.model}
        .tile
            p sn: 
            p #{rma.sn}
        .tile
            p sprzedaz: 
            p #{rma.sprzedaz}
        .tile
            p fv: 
            p #{rma.fv}
        .tile
            p opis: 
            p #{rma.opis}
